body {
  background-color: azure;
}
.main-card__title {
  color: black;
}
.main-card__subtitle {
  color: black;
}

.card {
  display: flex;
  padding: 30px 5px 5px 5px;
  border-radius: 5px;
  background-color: #d9d9d9;
  transition: box-shadow 0.3s ease;
  &__row {
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 100%;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    padding: 15px;
    text-align: left;
    font-size: 22px;
    line-height: 22px;
  }

  &__subtitle {
    flex: 1 1 auto;
    padding-left: 15px;
    font-size: 18px;
    text-align: left;
    line-height: 22px;
    max-width: 256px;
  }
  &:hover {
    box-shadow: 10px 10px 10px rgba(5, 4, 4, 0.3);
  }
}

.button-scroll-to-top {
  background-color: #333;
}
.button-scroll-to-top:hover {
  background-color: #555;
}
.arrow-top {
  border-color: #bebcc1;
  border-color: #bebcc1;
}
