/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* Обнуление */
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  background-color: #273720;
  text-align: center;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #43513d;
  padding: 15px 0px 15px 0px;
  &__row {
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.content {
  flex: 1 1 auto;
}
.footer {
  background-color: #2c2a2a;
}
.container {
  padding: 0px 10px 0px 10px;
  max-width: 1388px;
  margin: 0 auto;
}
.menu {
  &__img {
  }

  &__body {
  }

  &__list {
    li {
      padding: 0 50px;
    }
    display: flex;
    justify-content: space-between;
  }

  &__link {
    transition: color 0.3s ease;
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    &:hover {
      color: rgb(255, 217, 2);
    }
  }

  &__theme {
  }
  &__burger {
    display: none;
    position: relative;
    z-index: 999;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
    span {
      height: 2px;
      width: 80%;
      transform: scale(1);
      background-color: #42ae60;
    }
    &::after,
    &::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: #42ae60;
      transition: all 0.3s ease 0s;
    }
    &::after {
      bottom: 0;
    }
    &::before {
      top: 0;
    }
    &.active {
      span {
        transform: scale(0);
      }
      &::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
      }
      &::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
      }
    }
  }
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.main-screen {
  flex: 1 0 100%;
}

.main-screen {
  &_row {
    margin: 200px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
  }
}
.main-card {
  &__row {
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: left;
    color: white;
    font-size: 74px;
    line-height: 65px;
    max-width: 300px;
  }

  &__subtitle {
    max-width: 500px;
    margin: 25px 0px 30px 0px;
    line-height: 25px;
    color: #fff;
    font-size: 17px;
    text-align: left;
  }

  &__button {
    border-radius: 6px;
    display: block;
    width: 148px;
    padding: 15px 0px;
    background: #42ae60;
    transition: box-shadow 0.3s ease;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-bottom: 30px;
    &:hover {
      box-shadow: 10px 10px 10px rgba(74, 198, 109, 0.3);
    }
  }
}
.main-image {
  img {
    max-width: 100%;
  }
}
@media (max-width: 850px) {
  .container {
    max-width: 800px;
  }
  .header__menu {
    .menu__list {
      li {
        padding: 0px 25px;
      }
    }
  }
  .main-screen {
    &_row {
      margin-top: 100px;
      flex-direction: column-reverse;
      .main-image {
        margin-bottom: 20px;
      }
    }
  }
  .main-card {
    &__title,
    &__subtitle,
    &__button {
      align-self: center;
    }
  }
}

//категории

.category {
  &__title {
    font-size: 24px;
    color: white;
    padding: 43px 0px;
    background-color: #43513d;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}
.category {
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -23px;
  }
  &__column {
    flex: 0 1 350px;
    padding: 0px 23px;
    margin-bottom: 30px;
    display: flex;
  }
}

.column__row {
  display: flex;
  justify-content: space-between;
}
.card {
  display: flex;
  padding: 30px 5px 5px 5px;
  border-radius: 5px;
  background-color: #d9d9d9;
  transition: box-shadow 0.3s ease;
  &__row {
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 100%;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    padding: 15px;
    text-align: left;
    font-size: 22px;
    line-height: 22px;
  }

  &__subtitle {
    flex: 1 1 auto;
    padding-left: 15px;
    font-size: 18px;
    text-align: left;
    line-height: 22px;
    max-width: 256px;
  }
  &:hover {
    box-shadow: 10px 10px 10px rgba(181, 167, 167, 0.3);
  }
}
.offer {
  display: flex;
  padding: 10px 19px;
  justify-content: space-between;
  align-items: center;
  &__price {
    font-size: 22px;
    font-weight: bold;
  }

  &__button {
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    vertical-align: center;
    width: 95px;
    height: 34px;
    color: white;
    font-size: 18px;
    background-color: #273720;
    &:hover {
      background-color: #364c2c;
    }
  }
}

//категории

//Footer
.footer {
  padding: 30px;
  &_row {
    display: flex;
    justify-content: space-between;
  }

  &__body {
  }

  &__list {
    display: flex;
    li {
      padding: 0px 30px;
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;
  }
}
.creater {
  color: #fff;
}
//Footer

@media (max-width: 650px) {
  .header__menu {
    .menu__list {
      li {
        padding: 0px 10px;
      }
      .menu__link {
        font-size: 18px;
      }
    }
  }
  .main-image {
  }
  .main-card__row {
    display: block;
  }
  .footer {
    padding: 10px;
    &__list {
      li {
        padding: 10px;
      }
    }
  }
  .creater {
    align-self: center;
  }
  @media (max-width: 500px) {
    .header__menu .menu__list .menu__link {
      font-size: 30px;
    }
    .menu {
      &__img {
        margin-right: auto; /* Отодвигаем первый элемент влево */
      }
      &__burger {
        display: flex;
      }
      &__body {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        overflow-y: hidden;
        padding: 50px 40px;
        background-color: black;
        // animation: burgerAnimation 0.4s;
      }
      &__theme {
        margin-right: 15px;
      }
      &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        li {
          margin-bottom: 40px;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .footer {
    padding: 10px;
    &__list {
      li {
        font-size: 10px;
      }
    }
    .creater {
      font-size: 10px;
    }
  }
  @media (max-width: 300px) {
    .footer_row {
      flex-direction: column;
    }
  }
}
.open {
  display: flex !important;
}
@media (max-width: 1370px) {
  .category__column {
    flex: 0 1 33.33%;
    max-width: 100%;
  }
  .card {
    width: 100%;
  }
  .offer {
    width: 100%;
  }
  .card__row {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  .category__column {
    flex: 0 1 50%;
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .category__column {
    flex: 0 1 100%;
    max-width: 100%;
  }
}

.menu__burger {
  padding-left: 10px;
}

.card__date {
  padding: 10px;
  font-size: 15px;
}

.button-scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 20px;
  //display: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d2c7c7;
  color: #585151;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease
}

.button-scroll-to-top:hover {
  background-color: #a59797;
}

.button-scroll-to-top.show {
  display: block;
}

.arrow-top {
  margin-top: 20px;
  margin-left: 15px;
  top: 10px;
  left: 0;
  width: 30px;
  height: 30px;
  border-top: 10px solid #6e6c71;
  border-right: 10px solid #6e6c71;
  transform: rotate(-45deg);
}

@media (max-width:500px) {
  .arrow-top{
    margin-top: 15px;
    margin-left: 13px;
    width: 15px;
    height: 15px;
    border-top: 5px solid #bebcc1;
    border-right: 5px solid #bebcc1;
  } 
  .button-scroll-to-top{
    
    width: 40px;
    height: 40px;
  }
}