body {
  background-color: azure;
}

.main-card__title {
  color: black;
}

.main-card__subtitle {
  color: black;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 5px 5px 5px;
  border-radius: 5px;
  background-color: #d9d9d9;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card__image {
  width: 100%;
  height: 200px;
}
.card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.card__title {
  padding: 15px;
  text-align: left;
  font-size: 22px;
  line-height: 22px;
}
.card__subtitle {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 15px;
  font-size: 18px;
  text-align: left;
  line-height: 22px;
  max-width: 256px;
}
.card:hover {
  -webkit-box-shadow: 10px 10px 10px rgba(5, 4, 4, 0.3);
          box-shadow: 10px 10px 10px rgba(5, 4, 4, 0.3);
}

.button-scroll-to-top {
  background-color: #333;
}

.button-scroll-to-top:hover {
  background-color: #555;
}

.arrow-top {
  border-color: #bebcc1;
  border-color: #bebcc1;
}