@charset "UTF-8";
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Обнуление */
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background-color: #273720;
  text-align: center;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #43513d;
  padding: 15px 0px 15px 0px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer {
  background-color: #2c2a2a;
}

.container {
  padding: 0px 10px 0px 10px;
  max-width: 1388px;
  margin: 0 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__list li {
  padding: 0 50px;
}
.menu__link {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
}
.menu__link:hover {
  color: rgb(255, 217, 2);
}
.menu__burger {
  display: none;
  position: relative;
  z-index: 999;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 30px;
  height: 30px;
}
.menu__burger span {
  height: 2px;
  width: 80%;
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: #42ae60;
}
.menu__burger::after, .menu__burger::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #42ae60;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__burger::after {
  bottom: 0;
}
.menu__burger::before {
  top: 0;
}
.menu__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.menu__burger.active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
}
.menu__burger.active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0, 50%);
          transform: rotate(45deg) translate(0, 50%);
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.main-screen_row {
  margin: 200px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-card__title {
  text-align: left;
  color: white;
  font-size: 74px;
  line-height: 65px;
  max-width: 300px;
}
.main-card__subtitle {
  max-width: 500px;
  margin: 25px 0px 30px 0px;
  line-height: 25px;
  color: #fff;
  font-size: 17px;
  text-align: left;
}
.main-card__button {
  border-radius: 6px;
  display: block;
  width: 148px;
  padding: 15px 0px;
  background: #42ae60;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-bottom: 30px;
}
.main-card__button:hover {
  -webkit-box-shadow: 10px 10px 10px rgba(74, 198, 109, 0.3);
          box-shadow: 10px 10px 10px rgba(74, 198, 109, 0.3);
}

.main-image img {
  max-width: 100%;
}

@media (max-width: 850px) {
  .container {
    max-width: 800px;
  }
  .header__menu .menu__list li {
    padding: 0px 25px;
  }
  .main-screen_row {
    margin-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main-screen_row .main-image {
    margin-bottom: 20px;
  }
  .main-card__title, .main-card__subtitle, .main-card__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
.category__title {
  font-size: 24px;
  color: white;
  padding: 43px 0px;
  background-color: #43513d;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.category__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -23px;
}
.category__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
  padding: 0px 23px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 5px 5px 5px;
  border-radius: 5px;
  background-color: #d9d9d9;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card__image {
  width: 100%;
  height: 200px;
}
.card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.card__title {
  padding: 15px;
  text-align: left;
  font-size: 22px;
  line-height: 22px;
}
.card__subtitle {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 15px;
  font-size: 18px;
  text-align: left;
  line-height: 22px;
  max-width: 256px;
}
.card:hover {
  -webkit-box-shadow: 10px 10px 10px rgba(181, 167, 167, 0.3);
          box-shadow: 10px 10px 10px rgba(181, 167, 167, 0.3);
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 19px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer__price {
  font-size: 22px;
  font-weight: bold;
}
.offer__button {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  vertical-align: center;
  width: 95px;
  height: 34px;
  color: white;
  font-size: 18px;
  background-color: #273720;
}
.offer__button:hover {
  background-color: #364c2c;
}

.footer {
  padding: 30px;
}
.footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__list li {
  padding: 0px 30px;
}
.footer__link {
  text-decoration: none;
  color: #fff;
}

.creater {
  color: #fff;
}

@media (max-width: 650px) {
  .header__menu .menu__list li {
    padding: 0px 10px;
  }
  .header__menu .menu__list .menu__link {
    font-size: 18px;
  }
  .main-card__row {
    display: block;
  }
  .footer {
    padding: 10px;
  }
  .footer__list li {
    padding: 10px;
  }
  .creater {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
@media (max-width: 650px) and (max-width: 500px) {
  .header__menu .menu__list .menu__link {
    font-size: 30px;
  }
  .menu__img {
    margin-right: auto; /* Отодвигаем первый элемент влево */
  }
  .menu__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__body {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    overflow-y: hidden;
    padding: 50px 40px;
    background-color: black;
  }
  .menu__theme {
    margin-right: 15px;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu__list li {
    margin-bottom: 40px;
  }
}
@media (max-width: 400px) {
  .footer {
    padding: 10px;
  }
  .footer__list li {
    font-size: 10px;
  }
  .footer .creater {
    font-size: 10px;
  }
}
@media (max-width: 400px) and (max-width: 300px) {
  .footer_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.open {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (max-width: 1370px) {
  .category__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33%;
            flex: 0 1 33.33%;
    max-width: 100%;
  }
  .card {
    width: 100%;
  }
  .offer {
    width: 100%;
  }
  .card__row {
    width: 100%;
  }
}
@media (max-width: 1050px) {
  .category__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .category__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%;
  }
}
.menu__burger {
  padding-left: 10px;
}

.card__date {
  padding: 10px;
  font-size: 15px;
}

.button-scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d2c7c7;
  color: #585151;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.button-scroll-to-top:hover {
  background-color: #a59797;
}

.button-scroll-to-top.show {
  display: block;
}

.arrow-top {
  margin-top: 20px;
  margin-left: 15px;
  top: 10px;
  left: 0;
  width: 30px;
  height: 30px;
  border-top: 10px solid #6e6c71;
  border-right: 10px solid #6e6c71;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 500px) {
  .arrow-top {
    margin-top: 15px;
    margin-left: 13px;
    width: 15px;
    height: 15px;
    border-top: 5px solid #bebcc1;
    border-right: 5px solid #bebcc1;
  }
  .button-scroll-to-top {
    width: 40px;
    height: 40px;
  }
}